<div class="panel-header panel-header-md">
</div>
<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title d-inline-block">Patient Table</h2>
          <button class="btn btn-primary pull-right d-inline-block" ng-click="$ctrl.newPatient()">New Patient
            <span class="btn-label btn-label-right">
              <i class="now-ui-icons ui-1_simple-add"></i>
            </span>
          </button>
        </div>
        <div class="card-body">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search patient..." ng-model="search">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class=" text-primary">
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
              </thead>
              <tbody>
                <tr ng-repeat="patient in $ctrl.PatientsList | filter:search" ng-click="$ctrl.getProfile($index)">
                  <td data-th="Name">{{patient.firstname}} {{patient.lastname}}</td>
                  <td data-th="Country">{{patient.country}}</td>
                  <td data-th="City">{{patient.city}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>