<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Patient Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Age</th>
              </thead>
              <tbody>
                <tr ng-repeat="patient in $ctrl.PatientsList" ng-click="$ctrl.getProfile($index)">
                  <td>{{patient.firstname}} {{patient.lastname}}</td>
                  <td>{{patient.country}}</td>
                  <td>{{patient.city}}</td>
                  <td>{{patient.age}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>