@media all and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

.table tbody tr:hover, .table tbody tr:nth-of-type(2n+1):hover {
	cursor: pointer;
	background-color: #f96332;
	color: #FFF;
}

.login-page {
	width: 100%;
	height: 100vh;
	min-height: 600px;
	background: url("../img/header2.jpg") no-repeat center center fixed;
  background-size: cover;
}
.login-page-overlay {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	background-color: rgba(0, 0, 0, .15);
}
.login-page .container {
	padding-top: 25vh;
}
.card-login {
	padding-bottom: .7rem;
	color: #fff;
}
.logo-container {
	width: 65px;
	margin: 0 auto 40px;
}
.login-page .card-login .input-group:last-child {
	margin-bottom: 40px;
}
.login-page .card-login .form-control, .login-page .input-group .input-group-prepend .input-group-text {
	background-color: hsla(0,0%,100%,.1);
	color: #fff;
}
.login-page .form-control::-moz-placeholder, .login-page .form-control::placeholder, .login-page .form-control:placeholder-shown, ::placeholder {
	color: #ebebeb;
	opacity: 1;
}
.login-page .input-group.no-border .form-control:focus, .login-page .input-group-focus .input-group-prepend .input-group-text {
 	background-color:hsla(0,0%,87%,.25)
}
.login-page .link {
	font-size: 10px;
	color: #fff;
	text-decoration: none;
}

.diagnose-container {
	min-height: 100vh;
	padding-bottom: 65px;
}
.diagnose-panel {
	height: 600px;
}

.form-control::-webkit-input-placeholder, .form-control::-moz-placeholder, .form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder, .form-control::placeholder{
  color: #fff!important;
  opacity: 1;
	filter: alpha(opacity=100);
}
